@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif
}

body {
    background: radial-gradient(#B0EEEC, #99B8E6);
    min-height: 100vh;
}

h2 {
    text-align: center;
    padding: 15px;
}

button {
    cursor: pointer;
    padding: 0 10px 0;
}

/*-----------------------------------------------Game container---------------------------*/

.game-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}

/*------------------------------------------More-information/icon ----------------*/

.more-info-container {
    display: flex;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 5;

}

#mute-btn,
#info-btn {
    background-color: #99B8E6;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 45px;
    height: 45px;
    margin: 0 5px;
}

#mute-btn:hover,
#info-btn:hover,
#mute-btn:focus,
#info-btn:focus,
.continue-btn:hover,
.continue-btn:focus,
.close-guide-btn:hover,
.close-guide-btn:focus,
#choose-difficulty:hover,
#choose-difficulty:focus {
    background-color: #eeb449;
}

.game-tutorial-container {
    display: none;
    position: fixed;
    max-width: 1200px;
    width: 80vw;
    max-height: 550px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 10;
    background-color: #ffe07c;
    color: rgb(0, 0, 0);
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-tutorial-container > h2 {
    font-size: 38px;
    text-align: center;
    padding-top: 20px;
}

.step-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.step-info-container {
    width: 33%;
    padding: 30px 10px;

}

.step-info-container h3 {
    font-size: 30px;
    font-weight: bolder;
}

.step-info-container p {
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0;
}


.guide-img {
    width: 100%;
    height: auto;
    border: 3px solid #fff;
    border-radius: 10px;
}

/* .game-tutorial-container.visible {
    display: block;
} */

/* ------------------------------ Game title --------------------------*/
.title-container {
    padding: 30px 0;
}

.game-title {
    color: #1F1E1E;
    font-size: 5em;
    text-align: center;
}

/*--------------------------------------Game infor container ----------------------*/
.game-info-container {
    color: #333131;
    font-size: 2em;
    display: none;
    justify-content: center;
    margin-bottom: 20px;
}

.game-info-container p {
    margin: 0 40px 0;
}

.game-info-container p > i {
    color: #696968;
}

.game-info-container.visible {
    display: flex;
}


/*--------------------------------------Card container--------------------------------------*/
.card-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    justify-content: center;
    perspective: 500px;
}

.card-container h2 > i {
    color: #fff;
}

.laoder-container {
    margin: 25px auto;
}

.laoder-container.hidden {
    display: none;
}

.laoder-container img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.difficulty-container {
    margin: 5px auto;
    display: flex;
    justify-content: center;
}

.difficulty-btn {
    background-color: #99B8E6;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 150px;
    height: 150px;
    margin:0 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.difficulty-btn:hover,
.difficulty-btn:focus {
    background-color: #eeb449;
}

/*-----------------------------------------------Pop up screens ------------------------------*/

.game-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 6;
    color: #fff;
}

.victory-screen {
    display: none;
    position: fixed;
    width: 40vw;
    max-width: 600px;
    height: 32vh;
    max-height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 7;
    background-color: #ffe07c;
    color: rgb(0, 0, 0);
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.victory-screen.visible {
    display: block;
    flex-direction: column;
}

.victory-screen h2 {
    font-size: 50px;
    padding: 25px 0 10px 0;
}

.victory-screen p,
.level-complete {
    font-size: 20px;
    margin: 5px 0;
}

#new-best-score {
    display: none;
    position: fixed;
    top: 10px;
    left: 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    transform: rotate(333deg);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#new-best-score.visible {
    display: flex;
    flex-direction: column;
}

#new-best-score i {
    font-size: 25px;
    color: #ffa500;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#star-rating {
    font-size: 40px;
    margin: 10px 0;
}

#star-rating > i {
    color: #ffa500;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* .victory-overlay-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
} */

/* .victory-overlay-screen.visible {
    display: flex;
    animation: screen-grow 500ms forwards;
} */

.continue-btn,
.close-guide-btn {
    padding: 10px;
    position: fixed;
    bottom: -25px;
    margin: 0 auto;
    background-color: #99B8E6;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
}

.game-screen.visible {
    display: flex;
    flex-direction: column;
    animation: screen-grow 500ms forwards;
    cursor: pointer;
}

.click-to-start {
    animation: pulsing 4s infinite;
}

@keyframes pulsing {
    0% {
        font-size: 25px;
    }

    50% {
        font-size: 30px;
    }

    100% {
        font-size: 25px;
    }
}

@keyframes screen-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgba(93, 100, 243, 0.95);
        font-size: 5em;
    }
}

/*------------------------------------Game option container / change difficulty button -----------------------*/
.game-options {
    color: #333131;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#choose-difficulty {
    background-color: #99B8E6;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    height: 45px;
    margin: 0;
}

/*-------------------------------------- All card styling----------------------------------*/

.card {
    width: 140px;
    height: 190px;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(78, 78, 78);
}

.card:hover {
    cursor: pointer;
}

.card.flip {
    transform: rotateY(180deg);
}

/* .card.card-front {
    transform: rotateY(0);
} */

.card-back {
    width: 100%;
    height: 100%;
    background-image: url("../images/cardback.jpg");
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    border: 1px solid black;
    transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    -moz-transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    -ms-transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    -o-transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    -webkit-transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    position: absolute;
}

.card-back:hover {
    background-size: 120%;
}

.card-front {
    width: 100%;
    height: 100%;
    background-color: #edf5f3;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.icon {
    width: 135px;
    height: 145px;
}


/*-------------------------------------------------------------------------Media queries-----------------------------------------------------------------------------*/
@media screen and (max-width: 688px) and (orientation: landscape) {
    .game-container{
        justify-content: flex-start;
    }

    .card-container {
        width: 100%;
        grid-template-columns: repeat(8, auto);
    }

    h2 {
        font-size: 0.75em;
    }

    h3 {
        font-size: 0.5em;
    }

    .victory-screen.visible span,
    .game-screen.visible span {
        font-size: 0.5em;
    }

    .victory-screen.visible>.results {
        font-size: 0.3em;
    }

    .game-title {
        font-size: 2em;
    }

    .more-info-container {
        top: 10px;
        left: 5px;
    }

    .game-info-container {
        font-size: 1em;
        justify-content: center;
    }

    .game-info-container p {
        padding: 0 10px 0;
    }

    .card {
        width: 70px;
        height: 90px;
        margin: 2px;
    }

    .card-back:hover {
        width: 75px;
        height: 95px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 688px) and (orientation: portrait) {

    .game-container{
        justify-content: flex-start;
    }

    .card-container {
        width: 100%;
        grid-template-columns: repeat(4, auto);
    }

    h2 {
        font-size: 0.5em;
    }
    
    .victory-screen.visible span,
    .game-screen.visible span {
        font-size: 0.5em;
    }

    .game-title {
        font-size: 2em;
    }

    .more-info-container {
        top: 10px;
        left: 5px;
        flex-direction: column;
    }

    .game-info-container {
        font-size: 1em;
        justify-content: center;
    }

    .game-info-container p {
        padding: 0 10px 0;
    }

    .difficulty-container {
        flex-direction: column;
    }

    .card {
        width: 70px;
        height: 90px;
        margin: 2px;
    }

    .card-back:hover {
        width: 75px;
        height: 95px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 689px) and (max-width: 1200px) and (orientation: landscape) {
    .card-container {
        width: 100%;
        grid-template-columns: repeat(6, auto);
    }

    .game-title {
        font-size: 2em;
    }

    .more-info-container {
        top: 5px;
        right: 15px;
    }

    .game-info-container {
        font-size: 1em;
        justify-content: center;
    }

    .game-info-container p {
        padding: 0 10px 0;
    }

    .card {
        width: 100px;
        height: 150px;
        margin: 3px;
    }

    .card-back:hover {
        width: 105px;
        height: 155px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 689px) and (max-width: 1200px) and (orientation: portrait) {

    .card-container {
        width: 100%;
        grid-template-columns: repeat(6, auto);
    }

    .game-title {
        font-size: 2em;
    }

    .more-info-container {
        top: 5px;
        right: 15px;
    }

    .game-info-container {
        font-size: 1em;
        justify-content: center;
    }

    .game-info-container p {
        padding: 0 10px 0;
    }

    .card {
        width: 100px;
        height: 150px;
        margin: 3px;
    }

    .card-back:hover {
        width: 105px;
        height: 155px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}