@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif
}

body {
    background: radial-gradient(#B0EEEC, #99B8E6);
    min-height: 100vh;
    text-align: center;
}

button {
    cursor: pointer;
    padding: 0 10px 0;
}

/*-----------------------------------------------Game container---------------------------*/
.game-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

/*------------------------------------------Mute on/off info and score board btn container ----------------*/
.more-info-container {
    visibility: hidden;
    display: flex;
    position: fixed;
    top: 55px;
    right: 25px;
    z-index: 5;
}

#mute-btn,
#info-btn,
#score-board-btn {
    background-color: #99B8E6;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    margin: 0 5px;
}

#mute-btn:hover,
#info-btn:hover,
#mute-btn:focus,
#info-btn:focus,
#score-board-btn:hover,
#score-board-btn:focus,
.continue-btn:hover,
.continue-btn:focus,
.prev:hover,
.next:hover,
.prev:focus,
.next:focus,
.close-scoare-board-btn:hover,
.close-scoare-board-btn:focus,
.close-guide-btn:hover,
.close-guide-btn:focus,
#back-to-menu-btn:hover,
#back-to-menu-btn:focus,
.difficulty-btn:hover,
.difficulty-btn:focus {
    background-color: #eeb449;
}

.close-scoare-board-btn {
    width: 45px;
    border-top-right-radius: 11px 6px;
    top: -3px;
    right: -3px;
}

.prev,
.next,
.close-guide-btn,
.close-scoare-board-btn {
    padding: 3px;
    position: fixed;
    background-color: #99B8E6;
    font-size: 20px;
    color: #000;
    border: 2px solid #fff;
    font-weight: bold;
    z-index: 11;
}

.next {
    bottom: -3px;
    right: -2px;
    width: 30%;
    border-bottom-right-radius: 7px 7px;
}

.prev {
    bottom: -3px;
    left: -2px;
    width: 30%;
    border-bottom-left-radius: 7px 7px;
}

.close-guide-btn {
    bottom: -3px;
    left: 50%;
    width: 30%;
    transform: translate(-50%, 0);
}


.game-tutorial-container {
    visibility: hidden;
    display: none;
    position: fixed;
    max-width: 720px;
    width: 80vw;
    height: 570px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 10;
    background-color: #ffb317;
    color: rgb(0, 0, 0);
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.step-container {
    display: flex;
    justify-content: center;
}

.step-info-container {
    display: none;
}

.step-info-container.active {
    display: block;
}

.step-info-container h3 {
    font-size: 30px;
    font-weight: bolder;
}

.step-info-container p {
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0;
}

    .guide-img-one,
    .guide-img-two,
    .guide-img-three {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ------------------------------ Game title --------------------------*/
.title-container {
    padding: 30px 0;
}

.game-title {
    visibility: hidden;
    color: #1F1E1E;
    font-size: 85px;
}

/*------------------------------------------Score board---------------------------------*/
.score-board {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    max-width: 450px;
    width: 80vw;
    min-height: 375px;
    top: 20%;
    z-index: 9;
    background-color: #ffe07c;
    color: rgb(0, 0, 0);
    border: 3px solid #fff;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.best-score-on-board,
span[class*='best-score-'] {
    font-size: 23px;
    font-weight: bold;
}

.score-stars i {
    color: #f86300;
    font-size: 30px;
}

.score-board h2 {
    font-size: 35px;
}

.score-stars {
    display: block;
    padding: 5% 0;
}

/*--------------------------------------Game time and moves display container ----------------------*/
.game-info-container {
    color: #333131;
    font-size: 30px;
    display: none;
    justify-content: center;
    margin-bottom: 10px;
}

.game-info-container p {
    margin: 0 40px 0;
    font-weight: bolder;
}

.game-info-container p>i {
    color: #696968;
}

.game-info-container.visible {
    display: flex;
}


/*--------------------------------------Card container--------------------------------------*/
.card-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    justify-content: center;
    perspective: 500px;
}

.difficulty-cont-wrapper {
    visibility: hidden;
    margin: 25px auto;
}

.difficulty-cont-wrapper h2 {
    margin-bottom: 20px;
}

.difficulty-cont-wrapper h2 > i {
    color: #fff;
}

.difficulty-container {
    margin: auto 5px;
    display: flex;
    justify-content: center;
}

.difficulty-btn {
    background-color: #99B8E6;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 150px;
    height: 150px;
    margin: 0 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*-----------------------------------------------Pop up screens ------------------------------*/

.game-screen {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 6;
    color: #fff;
    background-color: rgba(93, 100, 243, 0.95);
    font-size: 5em;
}

.overlay-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cac1b3fa;
    z-index: 6;
    width: 100vw;
    height: 100vh;
}

.overlay-screen.show {
    display: flex;
}

.victory-screen {
    display: none;
    position: fixed;
    width: 650px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 7;
    background-color: #ffe07c;
    color: rgb(0, 0, 0);
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.victory-screen.visible {
    display: block;
    flex-direction: column;
}

.victory-screen h2 {
    font-size: 55px;
    padding: 15px 0;
}

.victory-screen p,
.level-complete {
    font-size: 30px;
    margin: 15px 0;
    font-weight: bold;
}

#new-best-score {
    display: none;
    position: fixed;
    top: 30px;
    left: 0px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    transform: rotate(333deg);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#new-best-score.visible {
    display: flex;
    flex-direction: column;
}

#new-best-score i {
    font-size: 25px;
    color: #ffa500;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#star-rating {
    font-size: 45px;
    margin: 15px 0;
}

#star-rating>i {
    color: #ffa500;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.continue-btn {
    padding: 10px;
    position: fixed;
    bottom: -25px;
    margin: 0 auto;
    background-color: #99B8E6;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    font-weight: bold;
}

.hidden {
    display: none;
}

.click-to-start {
    animation: pulsing 4s infinite;
}

@keyframes pulsing {
    0% {
        font-size: 25px;
    }

    50% {
        font-size: 30px;
    }

    100% {
        font-size: 25px;
    }
}
/*------------------------------------Game option container / change difficulty button -----------------------*/
.game-options {
    color: #333131;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#back-to-menu-btn {
    background-color: #99B8E6;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    height: 45px;
    margin: 0;
}

/*-------------------------------------- All card styling----------------------------------*/

.card {
    width: 140px;
    height: 190px;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(78, 78, 78);
}

.card:hover {
    cursor: pointer;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-back {
    width: 100%;
    height: 100%;
    background-image: url("../images/cardback.jpg");
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    border: 1px solid black;
    transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    -moz-transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    -ms-transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    -o-transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    -webkit-transition: transform 500ms ease-in-out, background-size 500ms ease-in;
    position: absolute;
}

.card-back:hover {
    background-size: 120%;
}

.card-front {
    width: 100%;
    height: 100%;
    background-color: #edf5f3;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.icon {
    width: 100%;
    height: auto;
}

.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/*-------------------------------------------------------------------------Media queries-----------------------------------------------------------------------------*/
@media screen and (max-width: 688px) and (orientation: portrait) {

    .game-screen h2 {
        font-size: 38px;
    }

    .score-board h2 {
        padding: 22px 0 10px;
        font-size: 25px;
    }

    h2 {
        font-size: 16px;
        padding: 0 0 10px;
    }

    .title-container {
        padding: 10px 0 5px;
    }

    .game-title {
        font-size: 2em;
    }

    .more-info-container {
        position: static;
        justify-content: center;
        padding: 10px 0 15px;
    }

    .card-container {
        grid-template-columns: repeat(4, auto);
    }

    .difficulty-cont-wrapper {
        margin: 0 auto;
    }

    #back-to-menu-btn {
        height: 30px;
    }

    .difficulty-container {
        flex-direction: column;
        align-items: center;
    }

    .difficulty-btn {
        font-size: 20px;
        margin: 5px 0;
        width: 140px;
        height: 140px;
    }

    .game-info-container {
        margin-bottom: 5px;
    }

    .game-info-container p {
        padding: 0 10px 0;
        margin: 0;
        font-size: 16px;
    }

    .card {
        width: 70px;
        height: 90px;
        margin: 2px;
        box-shadow: 2px 5px 5px rgb(78 78 78);
    }

    .game-tutorial-container {
        position: fixed;
        min-width: 90vw;
        height: 80vh;
    }

    .score-board {
        padding: 5px;
        width: 80vw;
        min-height: 313px;
        height: auto;
        top: 115px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .best-score-on-board,
    span[class*='best-score-'] {
        font-size: 15px;
        font-weight: bold;
    }

    .score-stars i {
        font-size: 18px;
    }

    #new-best-score {
        font-size: 10px;
        top: 35px;
    }

    .victory-screen {
        width: 90vh;
        max-width: 330px;
        min-height: 230px;
    }

    .victory-screen p,
    .level-complete {
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
        font-weight: bold;
    }

    .victory-screen h2 {
        font-size: 33px;
        padding: 10px 0px;
    }

    .continue-btn {
        font-size: 16px;
    }


    #star-rating {
        font-size: 25px;
        margin: 5px 0;
    }
}

@media screen and (max-width: 823px) and (orientation: landscape) {

    .game-screen h2 {
        font-size: 38px;
    }

    .score-board h2 {
        padding: 10px 0;
        font-size: 23px;
    }

    h2 {
        font-size: 16px;
        padding: 0 0 10px;
    }

    .title-container {
        padding: 10px 0 5px;
    }

    .game-title {
        font-size: 2em;
    }

    .more-info-container {
        position: static;
        justify-content: center;
        padding: 10px 0 15px;
    }

    .card-container {
        grid-template-columns: repeat(8, auto);
    }

    .difficulty-cont-wrapper {
        margin: 0 auto;
    }

    #back-to-menu-btn {
        height: 30px;
    }

    .difficulty-container {
        flex-direction: column;
        flex-direction: row;
    }

    .difficulty-btn {
        font-size: 20px;
        margin: 0 5px;
        width: 140px;
        height: 140px;
    }

    .game-info-container {
        margin-bottom: 5px;
    }

    .game-info-container p {
        padding: 0 10px 0;
        margin: 0;
        font-size: 16px;
    }

    .card {
        width: 70px;
        height: 90px;
        margin: 2px;
        box-shadow: 2px 5px 5px rgb(78 78 78);
    }

    .game-tutorial-container {
        position: fixed;
        min-width: 90vw;
        height: 90vh;
    }

    .guide-img-one {
        width: 365px;
    }

    .guide-img-two {
        width: 165px;
    }

    .guide-img-three {
        width: 300px;
    }

    .score-board {
        padding: 5px;
        width: 80vw;
        min-height: 180px;
        max-width: 500px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .best-score-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .best-score-container div {
        padding: 0 20px;
    }

    #new-best-score {
        font-size: 10px;
        top: 35px;
    }

    .best-score-on-board,
    span[class*='best-score-'] {
        font-size: 15px;
        font-weight: bold;
    }

    .score-stars i {
        font-size: 18px;
    }


    .victory-screen {
        width: 90vh;
        max-width: 330px;
        min-height: 230px;
    }

    .victory-screen p,
    .level-complete {
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
        font-weight: bold;
    }

    .victory-screen h2 {
        font-size: 33px;
        padding: 10px 0px;
    }

    .continue-btn {
        font-size: 16px;
    }


    #star-rating {
        font-size: 25px;
        margin: 5px 0;
    }
}

@media screen and (min-width: 689px) and (max-width: 1200px) and (orientation: portrait) {

    .game-screen h2 {
        font-size: 70px;
    }

    .score-board h2 {
        font-size: 25px;
    }

    .card-container {
        width: 100%;
        grid-template-columns: repeat(6, auto);
    }

    .title-container {
        padding: 15px 0 5px;
    }

    .game-title {
        font-size: 50px;
    }

    .more-info-container {
        position: static;
        justify-content: center;
        padding: 10px 0 15px;
    }

    #mute-btn,
    #info-btn,
    #score-board-btn {
        font-size: 20px;
        width: 55px;
        height: 55px;
    }

    .difficulty-cont-wrapper {
        margin: 10px auto;
    }

    .difficulty-container {
        flex-direction: column;
        align-items: center;
    }

    .difficulty-btn {
        font-size: 20px;
        margin: 5px 0;
    }

    .game-info-container {
        margin: 10px;
        ;
    }

    .game-info-container p {
        padding: 0 10px 0;
        font-size: 25px;
    }

    .card {
        width: 100px;
        height: 150px;
        margin: 3px;
        box-shadow: 2px 5px 5px rgb(78 78 78);
    }

    .score-board {
        padding: 5px;
        width: 80vw;
        min-height: 313px;
        height: auto;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 330px;
    }

    .best-score-on-board,
    span[class*='best-score-'] {
        font-size: 20px;
        font-weight: bold;
    }

    .score-stars i {
        font-size: 25px;
    }

    #new-best-score {
        font-size: 20px;
        top: 20px;
    }

    .victory-screen {
        width: 90vh;
        max-width: 500px;
        min-height: 320px;
    }

    .victory-screen p,
    .level-complete {
        font-size: 25px;
        margin: 10px 0;
        text-align: center;
        font-weight: bold;
    }

    .victory-screen h2 {
        font-size: 45px;
        padding: 10px 0px;
    }

    .continue-btn {
        font-size: 20px;
    }

    #star-rating {
        font-size: 35px;
        margin: 15px 0;
    }
}

@media screen and (min-width: 824px) and (max-width: 1200px) and (orientation: landscape) {
    .game-screen h2 {
        font-size: 70px;
    }

    .score-board h2 {
        font-size: 25px;
    }

    .title-container {
        padding: 15px 0 5px;
    }

    .game-title {
        font-size: 50px;
    }

    .more-info-container {
        position: static;
        justify-content: center;
        padding: 15px 0;
    }

    #mute-btn,
    #info-btn,
    #score-board-btn {
        font-size: 20px;
        width: 55px;
        height: 55px;
    }

    .card-container {
        grid-template-columns: repeat(8, auto);
    }

    .difficulty-cont-wrapper {
        margin: 30px auto;
    }

    .difficulty-cont-wrapper h2 {
        padding-bottom: 25px;
    }


    .difficulty-container {
        flex-direction: column;
        flex-direction: row;
    }

    .difficulty-btn {
        font-size: 20px;
        margin: 0 5px;
    }

    .game-info-container {
        margin: 10px;
    }

    .game-info-container p {
        padding: 0 10px 0;
        font-size: 25px;
    }

    .card {
        width: 100px;
        height: 150px;
        margin: 3px;
        box-shadow: 2px 5px 5px rgb(78 78 78);
    }

    .score-board {
        min-height: 313px;
        max-width: 330px;
    }

    .best-score-on-board,
    span[class*='best-score-'] {
        font-size: 20px;
        font-weight: bold;
    }

    .score-stars i {
        font-size: 25px;
    }

    .best-score-container div {
        padding: 0 20px;
    }

    #new-best-score {
        font-size: 20px;
        top: 20px;
    }

    .victory-screen {
        width: 90vh;
        max-width: 500px;
        min-height: 320px;
    }

    .victory-screen p,
    .level-complete {
        font-size: 25px;
        margin: 10px 0;
        text-align: center;
        font-weight: bold;
    }

    .victory-screen h2 {
        font-size: 45px;
        padding: 10px 0px;
    }

    .continue-btn {
        font-size: 20px;
    }

    #star-rating {
        font-size: 35px;
        margin: 15px 0;
    }
}